<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <style>
    body { margin:0;position:fixed;top:0;right:0;bottom:0;left:0; }
  </style>
</head>
<meta charset="utf-8">
<style>

  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
  }
  
  .node text {
    font: 12px sans-serif;
  }
  
  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }
  
  </style>

<body>

  
  	
<script src="https://d3js.org/d3.v4.min.js"></script>
  
<script>
// const svg   = d3.select("svg"),
//   		width = +svg.attr("width"),
//   		height= +svg.attr("height"),
//       margin= 20

// // Set up a size scale
// const radius = d3.scaleLinear()
// 			.range( [1, 14])
// 			.domain([1,1000])
// 			.clamp(true)

// // Declare a D3 layout
// const tree = d3.tree()
// 			.size([height * 0.85, width * 0.8])

// Load our external data
d3.csv("{{ url_for('static', filename='master_final.csv') }} ", function(data) {
  
  data.sort(function(x, y){
     return d3.descending(+x.described, +y.described);
  })

  // Build our hierarchy from a series of levels
  // change/reorder the level elements for a different tree
  const levels = ["department_name",  "course_name", "positive_negative", "male_female", "professor_name",  "sentiment_score"],
        hierarchy = flatToHierarchy(data, levels, 'keywords', 'sentiment_score')
      	// nodes = hierarchy.descendants(),
      	// leaves=hierarchy.leaves(),
      	// links = tree(hierarchy).links()
  
  console.log(hierarchy);

  // // Draw on screen
  // svg.selectAll('path')
  //   	.data(links)
  //   .enter().append('path')
  //   		.attr('d', d3.linkHorizontal()
  //       .x(function(d) { return d.y; })
  //       .y(function(d) { return d.x; }))
  // 			.style('fill', 'none')
  // 			.style('stroke', '#aaa')
  // 			.style('stroke-width',1)
  
  // svg.selectAll('circle')
  //   	.data(nodes)
  //   .enter().append('circle')
  //   	.style('r', (d) => radius(d.value))
  // 		.style('fill', 'white')
  // 		.style('stroke', '#444')
  // 		.style('stroke-width',1)
  // 		// TODO - make clearer
  // 		.attr('transform', function (d) {
  //   		return 'translate(' + d.y + ',' + d.x + ')'
  // 		})



// *************************************************

var treeData = hierarchy;
// Set the dimensions and margins of the diagram
var margin = {top: 20, right: 90, bottom: 30, left: 90},
    width = window.innerWidth - margin.left - margin.right,
    height = window.innerHeight - margin.top - margin.bottom;

// append the svg object to the body of the page
// appends a 'group' element to 'svg'
// moves the 'group' element to the top left margin
var svg = d3.select("body").append("svg")
    .attr("width", width + margin.right + margin.left)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate("
          + margin.left + "," + margin.top + ")");

var i = 0,
    duration = 750,
    root;

// declares a tree layout and assigns the size
var treemap = d3.tree().size([height, width]);

// Assigns parent, children, height, depth
root = d3.hierarchy(treeData, function(d) { return d.children; });
root.x0 = height / 2;
root.y0 = 0;

// Collapse after the second level
root.children.forEach(collapse);

update(root);

// Collapse the node and all it's children
function collapse(d) {
  if(d.children) {
    d._children = d.children
    d._children.forEach(collapse)
    d.children = null
  }
}


function update(source) {

  // Assigns the x and y position for the nodes
  var treeData = treemap(root);

  // Compute the new tree layout.
  var nodes = treeData.descendants(),
      links = treeData.descendants().slice(1);

  // Normalize for fixed-depth.
  nodes.forEach(function(d){ d.y = d.depth * 180});

  // ****************** Nodes section ***************************

  // Update the nodes...
  var node = svg.selectAll('g.node')
      .data(nodes, function(d) {return d.id || (d.id = ++i); });

  // Enter any new modes at the parent's previous position.
  var nodeEnter = node.enter().append('g')
      .attr('class', 'node')
      .attr("transform", function(d) {
        return "translate(" + source.y0 + "," + source.x0 + ")";
    })
    .on('click', click);

  // Add Circle for the nodes
  nodeEnter.append('circle')
      .attr('class', 'node')
      .attr('r', 1e-6)
      .style("fill", function(d) {
          return d._children ? "lightsteelblue" : "#fff";
      });


      function wrap(text) {
    text.each(function() {
        var text = d3.select(this);
        var words = text.text().split(/\s+/).reverse();
        var lineHeight = 20;
        var width = parseFloat(text.attr('width'));
        var y = parseFloat(text.attr('y'));
        var x = text.attr('x');
        var anchor = text.attr('text-anchor');
    
        var tspan = text.text(null).append('tspan').attr('x', x).attr('y', y).attr('text-anchor', anchor);
        var lineNumber = 0;
        var line = [];
        var word = words.pop();

        while (word) {
            line.push(word);
            tspan.text(line.join(' '));
            if (tspan.node().getComputedTextLength() > width) {
                lineNumber += 1;
                line.pop();
                tspan.text(line.join(' '));
                line = [word];
                tspan = text.append('tspan').attr('x', x).attr('y', y + lineNumber * lineHeight).attr('anchor', anchor).text(word);
            }
            word = words.pop();
        }
    });
}

d3.selectAll('.wrapme').call(wrap);



  // Add labels for the nodes
  nodeEnter.append('text')
      .attr("dy", ".35em")
      .attr("x", function(d) {
          return d.children || d._children ? -13 : 13;
      })
      .attr("text-anchor", function(d) {
          return d.children || d._children ? "end" : "start";
      })
      .text(function(d) { return d.data.data.name; })
      .attr("class" , "wrapme");

  // UPDATE
  var nodeUpdate = nodeEnter.merge(node);

  // Transition to the proper position for the node
  nodeUpdate.transition()
    .duration(duration)
    .attr("transform", function(d) { 
        return "translate(" + d.y + "," + d.x + ")";
     });

  // Update the node attributes and style
  nodeUpdate.select('circle.node')
    .attr('r', function(d) { return 10 }  ) 
    .style("fill", function(d) {
        return d._children ? "lightsteelblue" : "#fff";
    })
    .attr('cursor', 'pointer');


  // Remove any exiting nodes
  var nodeExit = node.exit().transition()
      .duration(duration)
      .attr("transform", function(d) {
          return "translate(" + source.y + "," + source.x + ")";
      })
      .remove();

  // On exit reduce the node circles size to 0
  nodeExit.select('circle')
    .attr('r', 1e-6);

  // On exit reduce the opacity of text labels
  nodeExit.select('text')
    .style('fill-opacity', 1e-6);

  // ****************** links section ***************************

  // Update the links...
  var link = svg.selectAll('path.link')
      .data(links, function(d) { return d.id; });

  // Enter any new links at the parent's previous position.
  var linkEnter = link.enter().insert('path', "g")
      .attr("class", "link")
      .attr('d', function(d){
        var o = {x: source.x0, y: source.y0}
        return diagonal(o, o)
      });

  // UPDATE
  var linkUpdate = linkEnter.merge(link);

  // Transition back to the parent element position
  linkUpdate.transition()
      .duration(duration)
      .attr('d', function(d){ return diagonal(d, d.parent) });

  // Remove any exiting links
  var linkExit = link.exit().transition()
      .duration(duration)
      .attr('d', function(d) {
        var o = {x: source.x, y: source.y}
        return diagonal(o, o)
      })
      .remove();

  // Store the old positions for transition.
  nodes.forEach(function(d){
    d.x0 = d.x;
    d.y0 = d.y;
  });

  // Creates a curved (diagonal) path from parent to the child nodes
  function diagonal(s, d) {

    path = `M ${s.y} ${s.x}
            C ${(s.y + d.y) / 2} ${s.x},
              ${(s.y + d.y) / 2} ${d.x},
              ${d.y} ${d.x}`

    return path
  }

  // Toggle children on click.
  function click(d) {
    if (d.children) {
        d._children = d.children;
        d.children = null;
      } else {
        d.children = d._children;
        d._children = null;
      }
    update(d);
  }
}








  
})


// Helper function for converting flat data to a hierarchy
// with a name and count field on each node.
// TODO - probably shouldn't name the value field "count"

function flatToHierarchy(flatData, levels, nameField, countField) {
  // Adapted from https://stackoverflow.com/a/19317823
  var nestedData = { name :"root", children : [] }
  
  // For each data row, loop through the expected levels traversing the output tree
  flatData.forEach(function(d){
      // Keep this as a reference to the current level
      var depthCursor = nestedData.children;
      // Go down one level at a time
      levels.forEach(function( property, depth ){

          // See if a branch has already been created
          var index;
          depthCursor.forEach(function(child,i){
              if ( d[property] == child.name ) index = i;
          });
          // Add a branch if it isn't there
          if ( isNaN(index) ) {
              depthCursor.push({ name : d[property], children : []});
              index = depthCursor.length - 1;
          }
          // Reference the new child array as we go deeper into the tree
          depthCursor = depthCursor[index].children;
          // This is a leaf, so add last element to specified branch
          if ( depth === levels.length - 1 ) {
            depthCursor.push({
              'name':d[nameField],
              'count':+d[countField]
            });
          } 
      })
  })
  
  // sum up the leaves / branches and return the hierarchy
  return d3.hierarchy(nestedData).sum(function(d){ return d.count; })
  
}
  
</script>
</body>
</html>