@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

:root, body {
	font-size: 16px;
	font-family: 'PT Sans', sans-serif !important;
}
body{
	background-color: transparent !important;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.i_elem_cls{
    width: 100%;
    text-align: right;
    cursor: default;
    font-size: 25px;
}
.main-wapper{
    background: url(../images/bg.jpg) no-repeat 50% 50% fixed !important;
    background-color: #fff;
	background-size: cover;
	font-size: 0.875rem;
	font-family: 'PT Sans', sans-serif;
	color: #000;
}

.xpresso-container .tab-content-container .tab-content .content, 
.xpresso-container .tab-content-container .panel-group .content, 
.tab-content {
    background: transparent !important;
}

.xpresso-container .head-top{
	background-color: #20afdd;
	overflow: hidden;
}

.xpresso-container .head-top .title {
    font-size: 1.75rem;
    color: #016180;
    text-transform: uppercase;
    font-weight: 300;
}

.xpresso-container .head-top .wellness {
    border-bottom-color: #016180;
}

#homeIcon:before {
    color: #016180;
}

.xpresso-container .row-filters-nav,
.xpresso-container .tab-content-container .nav-tabs {
    background-color: #016180;
}
.xpresso-container .tab-content-container .nav-tabs {
    padding: 0 15px 0 0;
}
.nav-tabs > li > a {
    color: #fff;
}
.nav-tabs > li.active{
	border-bottom: 4px solid #20afdd;
}

.xpresso-container .row-filters-nav .button, .xpresso-container .row-filters-nav .download {
    color: #fff !important;
}

.xpresso-container .row-filters-nav .buttons .grid-menu {
    border: none;
}

.tab-nav-next-prev .next, .tab-nav-next-prev .prev {
    color: #fff;
    background: #20afdd;
    display: inline-block;
}
.app-table {
    width: 100%;
    position: relative;
}

.application-tile {
    width: calc(33.33% - 20px);
    background: #016180;
    border: 1px solid;
}
.application-tile > img {
    width: 75px;
    height: 75px;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    display: block;
    float: left;
    border: 1px solid #fff;
}

.application-tile > div {
    width: calc(100% - 100px);
    line-height: 1.2;
    font-size: 1rem;
    font-family: 'PT Sans', sans-serif;
}
.application-tile p {
    font-size: 10px !important;
}
.xpresso-container > .container-fluid {
    background-color: transparent;
}

.setting-content, .form-section-wapper {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 5px 0px;
    border-radius: 8px;
    /* overflow: hidden; */
    border: 1px solid #d3d3d3;
    padding: 15px;
    width: 85%;
    margin: auto;
}
.nav-tabs > li.active > a, .nav-tabs > li.active a:hover, .nav>li>a:focus, .nav>li>a:hover {
    background-color: unset !important;
    color: #20afdd;
}

.nav-tabs > li > a {
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 15px;
}
.tab-nav-next-prev {
    right: 15px;
}
.head {
    border-bottom: 1px solid #20afdd;
    text-transform: uppercase;
    font-size: 18px !important;
    font-weight: 700;
    padding: 10px 25px;
}
.holder .left-col {
    padding: 0 40px 0 25px;
    width: 65%;
}
.holder .form {
    border-right: 2px solid #dadada;
}

.holder .form-group {
    margin: 30px 0 12px 0;
}

.holder .form-group > label {
    float: left;
    width: 150px;
    font-weight: 500;
    color: #7a7a7a;
}

.holder .right-col {
    padding: 25px 0 0 40px;
}
.holder .buttons {
    padding-top: 184px;
}

.btn {
    min-width: 150px;
    display: block;
    margin: 0 0 20px;
}

.holder .view-password {
    margin-left: 150px !important;
    color: #7a7a7a;
    cursor: pointer;
}

.holder .view-password:hover{
    color: #20afdd;
}

.holder .view-password .fa {
    color: #20afdd;
    margin-right: 5px;
}

.btn-primary {
    background-color: #20afdd;
}

input:focus, input:active {
    border-color: #20afdd !important;
    outline: 0;
}

.panel.panel-default.content.col-sm {
    box-shadow: none;
}

.scoreboards-table{
	width: 100%;
	border: 1px solid #ccc;	
}
.scoreboards-table.no-footer{
    border-bottom: 1px solid #ccc !important;
}
.scoreboards-table td{
	padding: 2px !important;
	font-size: 13px;
	text-align: left;
}
.scoreboards-table td + td{
    border-left: 1px solid #ccc;
}
.scoreboards-table td.finalized {
    background: #4b9025;
    color: rgba(255, 255, 255, 1);
}

.scoreboards-table td.not-finalized {
    background: #ffff00;
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
}

.scoreboards-table td.rejected {
    background: #fd8c00;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}
.scoreboards-table td.not-enter {
    background: #fd1700;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.scoreboards-table td span {
    display: table;
    margin: auto;
    font-size: 12px;
    line-height: 1.5;
}

.scoreboards-table td span + span{
	border-top: 1px solid #ccc;
}

.scoreboards-table td.finalized span + span,
.scoreboards-table td.not-enter span + span {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.scoreboards-table td.not-finalized span + span {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.scoreboards-table td.rejected span + span {
    border-top: 1px solid rgba(255, 255, 255, 0.6);
}

.scoreboards-table thead{
    background: #313131;
    color: #fff;
}

.scoreboards-table thead th{
    text-align: center;
    font-size: 14px;
    padding: 5px 2px !important;
}

.scoreboards-table thead th + th{
    border-left: 1px solid #959595;
}

.scoreboards-table tbody tr:nth-child(even){
    background-color: #fff;
}
.scoreboards-table tbody tr:nth-child(odd){
    background-color: #f7f7f7;
}

.measure-list {
    display: block !important;
    text-align: left;
    padding: 0 5px;
}

#measures_list_wrapper select, #partners_list_wrapper select,
#clinicalTrialList_wrapper select, #clinicalVisitList_wrapper select,
#serviceLineMeasures_list_wrapper select{
    border: 1px solid #ccc;
    height: 30px;
    padding: 0 5px;
    margin: 5px;
    font-size: 12px;
    display: inline;
    width: 75px;
}

#measures_list_wrapper input[type="search"], #partners_list_wrapper input[type="search"],
#clinicalTrialList_wrapper input[type="search"], #clinicalVisitList_wrapper input[type="search"],
#serviceLineMeasures_list_wrapper input[type="search"]{
    border: 1px solid #ccc;
    height: 30px;
    padding: 0 5px;
    margin: 5px 0 5px 5px;
    width: 165px;
}

#measures_list_wrapper label, #partners_list_wrapper label,
#clinicalTrialList_wrapper label, #clinicalVisitList_wrapper label,
#serviceLineMeasures_list_wrapper label{
    font-size: 14px;
    color: #000;
}
.fiscal-year {
    float: left;
    margin-left: 25px;
}
.month-no {
    width: 50px !important;
}

.modal-section{
  font-size: 14px  
}
.modal-section + .modal-section {
    border-top: 1px solid #ccc;
    padding-top: 15px;
    margin-top: 15px;
}
.modal-section-title {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 10px;
    color: #20afdd;
    border-bottom: 1px solid #20afdd;
}

.modal-section > .row{
    margin-right: -15px;
    margin-left: -15px;
}

.modal-section label, .form-section-wapper label {
    font-weight: bold;
    text-align: right;
    display: block;
}

.edit-data input[type="text"] {
    width: calc(50% - 20px);
    line-height: 35px;
    height: 35px;
    font-size: 13px;
    margin: 0 0 10px;
}

.modal-section label span {
    display: block;
    line-height: 14px;
}

.slash-txt {
    padding: 0 10px;
}
.abz-table {
    width: 100%;
}

.abz-table thead{
    background-color: #313131;
    color: #fff;
}

.abz-table thead th {
    text-align: center;
    font-size: 14px;
}

.abz-table thead th + th{
    border-left: 1px solid #959595;
}
.abz-table thead tr + tr{
    border-top: 1px solid #959595;
}
.abz-table tbody tr:nth-child(even){
    background-color: #fff;
}
.abz-table tbody tr:nth-child(odd){
    background-color: #f7f7f7;
}
.abz-table td{
	border: 1px solid #ccc;
	padding: 2px 5px;
	min-width: 50px;
	font-size: 13px;
}

.btn-default {
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.875rem;
    min-width: 100px;
    cursor: pointer;
    font-weight: 300;
    height: 42px;
    line-height: 42px;
    padding: 0 10px;
}

.abz-blue-btn {
    background-color: #20afdd;
    border: none !important;
}

.abz-blue-btn:focus,
.abz-blue-btn:active,
.abz-blue-btn:hover {
    background-color: #016180;
}
.scoreboards-table-note {
    font-size: 12px;
    margin: 0 0 15px -25px;
    overflow: hidden;
}

.scoreboards-table-note > div:before {
    width: 15px;
    height: 15px;
    position: absolute;
    content: "";
    top: 5px;
    right: 0;
}

.scoreboards-table-note > div {
    position: relative;
    padding: 0 25px;
    float: left;
}

.finalised-note:before {
    background-color: #4b9025;
}

.not-finalised-note:before {
    background-color: #ffff00;
}

.not-started-note:before {
    background-color: #fd1700;
}

.rejected-note:before {
    background-color: #fd8c00;
}

.yet-to-come-note:before {
    background-color: #fff;
    border: 1px solid #3d3d3d;
}
.xpresso-container .row-filters-nav .filters .button:before {
    border: none;
}

.xpresso-container .row-filters-nav .filters .button{
   width: 30px;
   height: 30px;
   font-size: 22px;
   position: absolute;
   top: -2px;
}

.btn-group.filters {
    width: 30px;
    height: 30px;
}

.xpresso-container .row-filters-nav .buttons {
    width: 80px;
}

.page_selector {
    float: left;
    width: calc(100% - 110px);
}

.xpresso-container .row-filters-nav {
    height: 50px;
}

.nav-tabs {
    border: none;
    margin: 0 15px 0 0;
}

.dataTables_wrapper .dataTables_info {
    font-size: 14px;
}

.dataTables_wrapper .dataTables_paginate {
    font-size: 14px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #20afdd;
    border: 1px solid #20afdd;
    color: #fff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #016180;
    border: 1px solid #016180;
}

.xpresso-container .row-filters-nav .filters .dropdown-menu {
    left: unset;
    right: -95px;
}

.xpresso-container .row-filters-nav .filters .dropdown-menu .update-btn .fa:before {
    color: #20afdd;
}

.xpresso-container .row-filters-nav .filters .dropdown-menu .title:before {
    border-left: 25px solid #016180;
}

.form-section-wapper{
    font-size: 14px;
}

.form-section-wapper input[type="text"], 
.form-section-wapper select{
    width: 80% !important;
    height: 35px !important;
    line-height: 35px !important;
    margin: 0 0 15px !important;
    border: 1px solid #cecece !important;
    background-color: #fafafa !important;
    padding: 0 15px !important;
    border-radius: 3px !important;
}

.form-section-wapper .multiselect-native-select .btn-group{
    width: 80%;
    height: 35px;
    line-height: 35px;
    margin: 0 0 15px;
}

.form-section-wapper textarea{
    width: 80% !important;
    height: 35px !important;
    line-height: 35px !important;
    margin: 0 0 15px !important;
    border: 1px solid #cecece !important;
    background-color: #fafafa !important;
    padding: 0 15px !important;
    border-radius: 3px !important;
    resize: none;
}

/* Carousel Styles */
#reportCarousel {
    background: #fff;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 5px 0px;
    border-radius: 8px;
    border: 1px solid #d3d3d3;
}

.carousel-indicators li {
    border: 2px solid #016180;
}
.carousel-indicators .active {
    background-color: #2980b9;
    border: 2px solid #2980b9;
}

.carousel-inner img {
    width: 100%;
    max-height: 555px
}

.carousel-control {
    width: 0;
}

.carousel-control.left,
.carousel-control.right {
	opacity: 1;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}

/* .carousel-control.left span {
	padding: 15px;
}

.carousel-control.right span {
	padding: 15px;
} */

.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
	position: absolute;
	z-index: 5;
	display: inline-block;
	font-size: 35px;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
	left: 20px;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
	right: 20px;
}
.carousel-control.left span,
.carousel-control.right span {
	color: #016180;
}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

/* .carousel-inner img {
    margin-top: 40px;
} */

.header-text {
    position: absolute;
    top: -30px;
    left: 5%;
    right: auto;
    width: 90%;
    color: #016180;
}

.header-text h2 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.view-report-btn {
    position: absolute;
    right: 50%;
    bottom: 30px;
}

.form-section-wapper .multiselect-native-select button {
    width: 100%;
    text-align: left;
    background: #fafafa;
    border: 1px solid #cecece;
    background-color: #fafafa !important;
    padding: 0 15px;
    border-radius: 3px;
    height: 35px;
    line-height: 35px;
    color: #000;
    text-transform: unset;
    box-shadow: unset !important;
}

.form-section-wapper .multiselect-native-select .caret {
    position: absolute;
    top: 15px;
    right: 6px;
}
.multiselect-container {
    width: 100%;
}

.multiselect-container>li>a>label {
    text-align: left;
}

.xpresso-container .tab-content-container .tab-content .content.not-html-widget{
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.15) !important;
	margin: 15px 0;
	border-radius:8px;
	overflow:hidden;
	border:1px solid #d3d3d3;
	background-color:#fff !important;
}
.hap-datatable .dataTables_filter {
    width: 100%;
}
.hap-datatable label {
    font-size: 13px;
    width: 100%;
}

.hap-datatable select {
    padding: 0;
    line-height: 30px;
    height: 30px;
    background: #fff;
}

.hap-datatable input[type="search"] {
    width: 100%;
    border: 1px solid #ccc;
    height: 30px;
    margin: 0 0 10px;
    border-radius: 10px;
    padding: 0 25px 0 15px;
    box-sizing: border-box;
}

/* .hap-datatable .tiles-title {
    margin: -15px 0 0;
} */

.hap-datatable table.dataTable thead th {
    border: none;
}

.hap-datatable table.dataTable td{
    padding: 0 10px;
}



.conent-manager-form {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 5px 0px;
    border-radius: 8px;
    border: 1px solid #d3d3d3;
    padding: 15px;
    width: 100%;
    margin: auto;
}
.side-nav {
    background: #016180;
    padding: 15px;
}
.side-nav + .side-nav {
    margin-top: 15px;
}
.side-nav h3 {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
}


.side-nav a {
    color: #20afdd;
    display: block;
    line-height: 30px;
    padding: 0 15px;
}
.side-nav a.active {
    color: #fff;
    background: #20afdd;
}

.daterangepicker .calendar th, .daterangepicker .calendar td {
   color: #000;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
   color: #fff;
   background-color: #20afdd;
}


.disable {
    cursor: default;
    color: #555 !important;
}

.data-table{
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;    
}
.data-table thead {
    background: #313131;
    color: #fff;
}
.data-table thead th {
    font-size: 14px;
    padding: 5px 15px !important;
    font-weight: bold;
}
.data-table tbody td {
    padding: 10px 10px;
    position: relative;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    font-size: 14px;
}

.data-table td + td {
    border-left: 1px solid #ccc;
}


.data-table input[type="search"], .query-wapper .search-box input[type="search"]{
    width: 100%;
    border: 1px solid #ccc;
    height: 30px;
    border-radius: 10px;
    padding: 0 25px 0 15px;
    box-sizing: border-box;
}

.data-table label, .query-wapper .search-box label {
    width: 100%;
    position: relative;
}
.data-table label::after, .query-wapper .search-box label:after {
    font-family: "FontAwesome";
    content: "\f0b0";
    padding-right: 3px;
    font-weight: 900;
    position: absolute;
    right: 15px;
    top: 2px;
    color: #5d5d5d;
}

.query-wapper .search-box label:after{
	content: "\f002"
}

.bia-tile, .profile-tile {
    background: #20afdd;
    width: 100%;
    display: inline-block;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
    border-radius: 5px;
    padding: 10px;
    color: #fff !important;
    line-height: 1.2;
}

.bia-tile {
    font-size: 14px;
    line-height: 1.5;
    margin: 20px 0 0;
}

.bia-tile h3 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.2;
}

.bia-tile .row {
    margin-bottom: 0;
}

.profile-tile h3 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

.profile-tile .rating-details > p {
    float: left;
    font-weight: bold;
    text-transform: uppercase;
}

.profile-tile .rating-details > span {
    /* float: right; */
    color: #fff700;
}

.profile-tile .rating-details {
    height: 25px;
}

.profile-tile .like-share-details p {
    font-size: 14px;
    line-height: 1.2;
}

.profile-tile .like-share-details span {
    font-weight: bold;
    font-size: 16px;
}
.search-results h3 {
    font-size: 16px;
    color: #000;
}

.search-results {
    height: 232px;
}

.bia-tile img {
    width: 100%;
    border-radius: 50%;
}

.content-tooltiptext {
	visibility: hidden;
	width: 300px;
    background-color: rgba(1, 97, 128, 0.82);
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 100;
    top: 0;
    right: -300px;
    margin-left: -100px;
    font-size: 12px;
}

.content-tooltip:hover + .content-tooltiptext {
	visibility: visible;
}

.viz-datatable{
	width: 100% !important;
	border: 1px solid #ccc;	
}

.viz-datatable.no-footer{
    border-bottom: 1px solid #ccc !important;
}

.viz-datatable thead{
    background: #313131;
    color: #fff;
}

.viz-datatable thead th{
    text-align: center;
    font-size: 14px;
    padding: 5px 2px !important;
}

.viz-datatable thead th + th{
    border-left: 1px solid #959595;
}

.viz-datatable tbody tr:nth-child(even){
    background-color: #fff;
}

.viz-datatable tbody tr:nth-child(odd){
    background-color: #f7f7f7;
}

.viz-datatable td{
	padding: 2px !important;
	font-size: 14px;
	text-align: left;
}

.viz-datatable td + td{
    border-left: 1px solid #ccc;
}

.viz-datatable tr + tr td{
	border-top: 1px solid rgba(0, 0, 0, .15);	
}

.viz-datatable td.view-details {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    text-align: center;
    font-size: 20px;
}
.viz-datatable td.view-details:before {
    content: "\f06e";
    cursor: pointer;
}

.modal .form-section-wapper {
    box-shadow: none;
    border: 0;
    border-radius: 0;
    width: 100%;
    padding: 0;
}

.info-wapper {
    background: #f1f1f1;
    padding: 15px;
}

.info-wapper label {
    margin: 0 0 5px;
}